In [3]:
import nltk

In [4]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\manth\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [5]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [6]:
sid = SentimentIntensityAnalyzer()

In [7]:
a = "this is a good movie"

In [8]:
sid.polarity_scores(a)

{'neg': 0.0, 'neu': 0.508, 'pos': 0.492, 'compound': 0.4404}

In [9]:
sid.polarity_scores(a)

{'neg': 0.0, 'neu': 0.508, 'pos': 0.492, 'compound': 0.4404}

In [10]:
a = "This is the worst movie I have ever seen!"

In [11]:
sid.polarity_scores(a)

{'neg': 0.386, 'neu': 0.614, 'pos': 0.0, 'compound': -0.6588}

In [12]:
import pandas as pd

In [13]:
df = pd.read_csv('amazonreviews.tsv', sep='\t')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
label     10000 non-null object
review    10000 non-null object
dtypes: object(2)
memory usage: 156.3+ KB

In [15]:
df.head(10)

  label                                             review
0   pos  Stuning even for the non-gamer: This sound tra...
1   pos  The best soundtrack ever to anything.: I'm rea...
2   pos  Amazing!: This soundtrack is my favorite music...
3   pos  Excellent Soundtrack: I truly like this soundt...
4   pos  Remember, Pull Your Jaw Off The Floor After He...
5   pos  an absolute masterpiece: I am quite sure any o...
6   neg  Buyer beware: This is a self-published book, a...
7   pos  Glorious story: I loved Whisper of the wicked ...
8   pos  A FIVE STAR BOOK: I just finished reading Whis...
9   pos  Whispers of the Wicked Saints: This was a easy...

In [16]:
df.describe()

        label                                             review
count   10000                                              10000
unique      2                                              10000
top       neg  The movie is a mute to 21 million hard of hear...
freq     5097                                                  1

In [17]:
df['label'].value_counts()

neg    5097
pos    4903
Name: label, dtype: int64

In [18]:
df.isna().sum()

label     0
review    0
dtype: int64

In [19]:
df.dropna(inplace=True)

In [20]:
sid.polarity_scores(df.iloc[0]['review'])

{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'compound': 0.9454}

In [21]:
df['scores'] = df['review'].apply(lambda review: sid.polarity_scores(review))

In [22]:
df['compound'] = df['scores'].apply(lambda d : d['compound'])

In [23]:
df.head()

,label,review,scores,compound
0,pos,Stuning even for the non-gamer: This sound tra...,"{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'co...",0.9454
1,pos,The best soundtrack ever to anything.: I'm rea...,"{'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'co...",0.8957
2,pos,Amazing!: This soundtrack is my favorite music...,"{'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'com...",0.9858
3,pos,Excellent Soundtrack: I truly like this soundt...,"{'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'com...",0.9814
4,pos,"Remember, Pull Your Jaw Off The Floor After He...","{'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'comp...",0.9781

In [24]:
df['comp_score'] = df['compound'].apply(lambda score : 'pos' if score >= 0 else 'neg')

In [25]:
df.head()

,label,review,scores,compound,comp_score
0,pos,Stuning even for the non-gamer: This sound tra...,"{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'co...",0.9454,pos
1,pos,The best soundtrack ever to anything.: I'm rea...,"{'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'co...",0.8957,pos
2,pos,Amazing!: This soundtrack is my favorite music...,"{'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'com...",0.9858,pos
3,pos,Excellent Soundtrack: I truly like this soundt...,"{'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'com...",0.9814,pos
4,pos,"Remember, Pull Your Jaw Off The Floor After He...","{'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'comp...",0.9781,pos

In [26]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [27]:
print(accuracy_score(df['label'], df['comp_score']))
print("\n\n")
print(classification_report(df['label'], df['comp_score']))
print("\n\n")
print(confusion_matrix(df['label'], df['comp_score']))

0.7091



              precision    recall  f1-score   support

         neg       0.86      0.51      0.64      5097
         pos       0.64      0.91      0.75      4903

    accuracy                           0.71     10000
   macro avg       0.75      0.71      0.70     10000
weighted avg       0.75      0.71      0.70     10000




[[2623 2474]
 [ 435 4468]]

In [30]:
import numpy as np

In [31]:
df2 = pd.read_csv('moviereviews.tsv', sep='\t')

In [32]:
df2.head(5)

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [62]:
df2.isnull().sum()

label     0
review    0
dtype: int64

In [60]:
df2.dropna(inplace=True)

In [63]:
blanks = []

for i, lb, rv in df2.itertuples():
    if type(rv) == str:
        if rv.isspace():
            blanks.append(i)

In [64]:
df2.drop(blanks, inplace=True)

In [65]:
df2['label'].value_counts()

pos    969
neg    969
Name: label, dtype: int64

In [66]:
df2['scores']= df2['review'].apply(lambda review: sid.polarity_scores(review))

In [67]:
df2['compound'] = df2['scores'].apply(lambda d : d['compound'])

In [68]:
df2['comp_score'] = df2['compound'].apply(lambda score : 'pos' if score >= 0 else 'neg')

In [69]:
df2.head()

,label,review,scores,compound,comp_score
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125,neg
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618,neg
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.067, 'neu': 0.783, 'pos': 0.15, 'com...",0.9953,pos
3,pos,according to hollywood movies made in last few...,"{'neg': 0.069, 'neu': 0.786, 'pos': 0.145, 'co...",0.9972,pos
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.09, 'neu': 0.822, 'pos': 0.088, 'com...",-0.7264,neg

In [70]:
print(accuracy_score(df2['label'], df2['comp_score']))
print("\n\n")
print(classification_report(df2['label'], df2['comp_score']))
print("\n\n")
print(confusion_matrix(df2['label'], df2['comp_score']))

0.6367389060887513



              precision    recall  f1-score   support

         neg       0.72      0.44      0.55       969
         pos       0.60      0.83      0.70       969

    accuracy                           0.64      1938
   macro avg       0.66      0.64      0.62      1938
weighted avg       0.66      0.64      0.62      1938




[[427 542]
 [162 807]]