In [128]:
import numpy as np
import pandas as pd

Index = Row,,,&&,,,     
Column = Column,,,&&,,,     
Level is the level in multi index

In [2]:
from numpy.random import randn

In [10]:
df = pd.DataFrame(randn(5, 4), ['A', 'B', 'C', 'D', 'E'], ['W', 'X', 'Y', 'Z'])
df

          W         X         Y         Z
A  1.344651  0.150140 -0.595103 -0.625201
B -0.635334 -2.030605 -0.673166 -0.712611
C -0.099218 -0.807629  0.287455  0.175832
D  1.138160  1.092589 -0.438613  0.940748
E -0.448143  0.506436 -1.191118  1.064421

In [15]:
df['W']

A    1.344651
B   -0.635334
C   -0.099218
D    1.138160
E   -0.448143
Name: W, dtype: float64

In [17]:
df[['W', 'X']]

          W         X
A  1.344651  0.150140
B -0.635334 -2.030605
C -0.099218 -0.807629
D  1.138160  1.092589
E -0.448143  0.506436

In [102]:
df['L'] = df['X'] + df['Y']
df

          W         X         Y         Z         L states
A  1.344651  0.150140 -0.595103 -0.625201 -0.444963     co
B -0.635334 -2.030605 -0.673166 -0.712611 -2.703771     mn
C -0.099218 -0.807629  0.287455  0.175832 -0.520173     nm
D  1.138160  1.092589 -0.438613  0.940748  0.653976    man
E -0.448143  0.506436 -1.191118  1.064421 -0.684682     ln

In [ ]:
df.drop()

In [53]:
df.drop('L', axis = 1)
df

          W         X         Y         Z         L
A  1.344651  0.150140 -0.595103 -0.625201 -0.444963
B -0.635334 -2.030605 -0.673166 -0.712611 -2.703771
C -0.099218 -0.807629  0.287455  0.175832 -0.520173
D  1.138160  1.092589 -0.438613  0.940748  0.653976
E -0.448143  0.506436 -1.191118  1.064421 -0.684682

In [57]:
df.loc['A', 'W']

1.3446508557250083

In [50]:
df.loc['C']

W   -0.099218
X   -0.807629
Y    0.287455
Z    0.175832
L   -0.520173
Name: C, dtype: float64

In [58]:
df.iloc[2]

W   -0.099218
X   -0.807629
Y    0.287455
Z    0.175832
L   -0.520173
Name: C, dtype: float64

In [60]:
df.loc[['A'], ['W', 'Y']]

          W         Y
A  1.344651 -0.595103

In [63]:
booldf = df>0
booldf

       W      X      Y      Z      L
A   True   True  False  False  False
B  False  False  False  False  False
C  False  False   True   True  False
D   True   True  False   True   True
E  False   True  False   True  False

In [65]:
df[booldf]

          W         X         Y         Z         L
A  1.344651  0.150140       NaN       NaN       NaN
B       NaN       NaN       NaN       NaN       NaN
C       NaN       NaN  0.287455  0.175832       NaN
D  1.138160  1.092589       NaN  0.940748  0.653976
E       NaN  0.506436       NaN  1.064421       NaN

In [71]:
df[df['W']>0]

          W         X         Y         Z         L
A  1.344651  0.150140 -0.595103 -0.625201 -0.444963
D  1.138160  1.092589 -0.438613  0.940748  0.653976

In [88]:
df[df['W']>0] [['Y', 'X']]

          Y         X
A -0.595103  0.150140
D -0.438613  1.092589

In [91]:
df[(df['X'] > 0) & (df['W'] < 1)]

          W         X         Y         Z         L
E -0.448143  0.506436 -1.191118  1.064421 -0.684682

In [96]:
newind = "co mn nm man ln".split()
newind

['co', 'mn', 'nm', 'man', 'ln']

In [99]:
df["states"] = newind
df

          W         X         Y         Z         L states
A  1.344651  0.150140 -0.595103 -0.625201 -0.444963     co
B -0.635334 -2.030605 -0.673166 -0.712611 -2.703771     mn
C -0.099218 -0.807629  0.287455  0.175832 -0.520173     nm
D  1.138160  1.092589 -0.438613  0.940748  0.653976    man
E -0.448143  0.506436 -1.191118  1.064421 -0.684682     ln

In [122]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [123]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [135]:
dfa = pd.DataFrame(randn(6, 3), hier_index, ['A', 'B','C'])
dfa

             A         B         C
G1 1 -0.035548 -0.301257  0.039320
   2  0.176415 -0.163421  1.484495
   3 -0.363210  0.500875  0.072724
G2 1 -0.152666 -1.417955 -0.634795
   2 -0.051382  0.052239 -2.040036
   3  1.235553 -1.440593  0.765305

In [139]:
dfa.loc['G1']['C']

1    0.039320
2    1.484495
3    0.072724
Name: C, dtype: float64

In [144]:
dfa.index.names = ['Group', 'Num']
dfa

                  A         B         C
Group Num
G1    1   -0.035548 -0.301257  0.039320
      2    0.176415 -0.163421  1.484495
      3   -0.363210  0.500875  0.072724
G2    1   -0.152666 -1.417955 -0.634795
      2   -0.051382  0.052239 -2.040036
      3    1.235553 -1.440593  0.765305

In [149]:
dfa.loc['G2'].loc[2]['C']

-2.040035930062478

In [152]:
dfa

                  A         B         C
Group Num
G1    1   -0.035548 -0.301257  0.039320
      2    0.176415 -0.163421  1.484495
      3   -0.363210  0.500875  0.072724
G2    1   -0.152666 -1.417955 -0.634795
      2   -0.051382  0.052239 -2.040036
      3    1.235553 -1.440593  0.765305

In [161]:
dfa.xs(1, level = 'Num')

              A         B         C
Group
G1    -0.035548 -0.301257  0.039320
G2    -0.152666 -1.417955 -0.634795