In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a', 'b', 'c']
my_data = [10, 20, 30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [16]:
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [22]:
pd.Series(my_data, labels)

a    10
b    20
c    30
dtype: int64

In [36]:
s1 = pd.Series([1, 2, 3, 4], ['INDIA',  'Usa', 'Canada',  'London'])
s1

INDIA     1
Usa       2
Canada    3
London    4
dtype: int64

In [39]:
s2 = pd.Series([8, 2, 3, 4], ['INDIA',  'Canada', 'London', 'Italy'])
s2

INDIA     8
Canada    2
London    3
Italy     4
dtype: int64

In [41]:
s1 + s2

Canada    5.0
INDIA     9.0
Italy     NaN
London    7.0
Usa       NaN
dtype: float64