In [1]:
import numpy as np
import pandas as pd

In [14]:
labels = ['a', 'b', 'c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10, 'b':20,'d':30}

In [9]:
pd.Series(data = my_data, index = labels )

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

In [16]:
pd.Series(d)

a    10
b    20
d    30
dtype: int64

In [18]:
ser1 = pd.Series([1,2,3,4], ['India', 'Usa', 'Russia', 'Japan'])

In [19]:
ser1

India     1
Usa       2
Russia    3
Japan     4
dtype: int64

In [20]:
ser2 = pd.Series([1,2,0,4], ['India', 'Usa', 'Russia', 'Japan'])

In [21]:
ser2

India     1
Usa       2
Russia    0
Japan     4
dtype: int64

In [22]:
ser1 + ser2

India     2
Usa       4
Russia    3
Japan     8
dtype: int64