In [2]:
my_list = [1,2,3]

In [3]:
my_list.append(4)
my_list

[1, 2, 3, 4]

In [4]:
my_list.pop()

4

In [5]:
my_list

[1, 2, 3]

Map

In [18]:
def square(num):
    return num**2
my = [1,2,3,4,5,6]

In [19]:
for i in map(square, my):
    print(i)

1
4
9
16
25
36

In [21]:
def mean(num):
    return num%2 == 0
mi = [1,2,3,4,5,6]

In [24]:
list(filter(mean, mi))

[2, 4, 6]

In [26]:
def ma(string):
    if len(string)%2 == 0:
        return string
    else:
        return string[0]

my_string = ["Hey", "Manthan", "Jinu"]

In [34]:
list(map(ma, my_string))

['H', 'M', 'Jinu']

Function to Lambda

In [29]:
def square(num):
    result = num**2
    return result

In [30]:
def square(num):
    return num**2

In [31]:
def square(num): return num**2

In [35]:
lambda num: num**2

In [38]:
num = [1,2,3,4,5,6,7,8,9,10]
list(map(lambda num: num**2, num))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [40]:
mi = [1,2,3,4,5,6]
list(filter(lambda num: num%2 == 0, mi))

[2, 4, 6]

In [43]:
lis = ['Manthan', 'Jinu', "Shwetu"]
list(filter(lambda num: len(num)%2 == 0, lis))

['Jinu', 'Shwetu']

In [45]:
lis.sort()
lis

['Jinu', 'Manthan', 'Shwetu']