In [1]:
import nltk

In [13]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\manth\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [14]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [15]:
sid = SentimentIntensityAnalyzer()

In [16]:
a = "this is a good movie"

In [17]:
sid.polarity_scores(a)

{'neg': 0.0, 'neu': 0.508, 'pos': 0.492, 'compound': 0.4404}

In [18]:
sid.polarity_scores(a)

{'neg': 0.0, 'neu': 0.508, 'pos': 0.492, 'compound': 0.4404}

In [19]:
a = "This is the worst movie I have ever seen!"

In [20]:
sid.polarity_scores(a)

{'neg': 0.386, 'neu': 0.614, 'pos': 0.0, 'compound': -0.6588}

In [21]:
import pandas as pd

In [22]:
df = pd.read_csv('amazonreviews.tsv', sep='\t')

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
label     10000 non-null object
review    10000 non-null object
dtypes: object(2)
memory usage: 156.3+ KB

In [24]:
df.head(10)

  label                                             review
0   pos  Stuning even for the non-gamer: This sound tra...
1   pos  The best soundtrack ever to anything.: I'm rea...
2   pos  Amazing!: This soundtrack is my favorite music...
3   pos  Excellent Soundtrack: I truly like this soundt...
4   pos  Remember, Pull Your Jaw Off The Floor After He...
5   pos  an absolute masterpiece: I am quite sure any o...
6   neg  Buyer beware: This is a self-published book, a...
7   pos  Glorious story: I loved Whisper of the wicked ...
8   pos  A FIVE STAR BOOK: I just finished reading Whis...
9   pos  Whispers of the Wicked Saints: This was a easy...

In [25]:
df.describe()

        label                                             review
count   10000                                              10000
unique      2                                              10000
top       neg  best book I've read in past 5 years: scholarly...
freq     5097                                                  1

In [26]:
df['label'].value_counts()

neg    5097
pos    4903
Name: label, dtype: int64

In [27]:
df.isna().sum()

label     0
review    0
dtype: int64

In [28]:
df.dropna(inplace=True)

In [30]:
sid.polarity_scores(df.iloc[0]['review'])

{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'compound': 0.9454}

In [31]:
df['scores'] = df['review'].apply(lambda review: sid.polarity_scores(review))

In [33]:
df['compound'] = df['scores'].apply(lambda d : d['compound'])

In [34]:
df.head()

,label,review,scores,compound
0,pos,Stuning even for the non-gamer: This sound tra...,"{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'co...",0.9454
1,pos,The best soundtrack ever to anything.: I'm rea...,"{'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'co...",0.8957
2,pos,Amazing!: This soundtrack is my favorite music...,"{'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'com...",0.9858
3,pos,Excellent Soundtrack: I truly like this soundt...,"{'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'com...",0.9814
4,pos,"Remember, Pull Your Jaw Off The Floor After He...","{'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'comp...",0.9781

In [35]:
df['comp_score'] = df['compound'].apply(lambda score : 'pos' if score >= 0 else 'neg')

In [36]:
df.head()

,label,review,scores,compound,comp_score
0,pos,Stuning even for the non-gamer: This sound tra...,"{'neg': 0.088, 'neu': 0.669, 'pos': 0.243, 'co...",0.9454,pos
1,pos,The best soundtrack ever to anything.: I'm rea...,"{'neg': 0.018, 'neu': 0.837, 'pos': 0.145, 'co...",0.8957,pos
2,pos,Amazing!: This soundtrack is my favorite music...,"{'neg': 0.04, 'neu': 0.692, 'pos': 0.268, 'com...",0.9858,pos
3,pos,Excellent Soundtrack: I truly like this soundt...,"{'neg': 0.09, 'neu': 0.615, 'pos': 0.295, 'com...",0.9814,pos
4,pos,"Remember, Pull Your Jaw Off The Floor After He...","{'neg': 0.0, 'neu': 0.746, 'pos': 0.254, 'comp...",0.9781,pos

In [39]:
from sklearn import metrices

ImportError: cannot import name 'metrices' from 'sklearn' (C:\Users\manth\Anaconda3\lib\site-packages\sklearn\__init__.py)