In [2]:
import pandas

In [3]:
pandas.read_csv("commute_data.csv")

      Unnamed: 0  EmployeeNumber  DistanceFromHome
0              1               1                 1
1              2               2                 8
2              3               4                 2
3              4               5                 3
4              5               7                 2
5              6               8                 2
6              7              10                 3
7              8              11                24
8              9              12                23
9             10              13                27
10            11              14                16
11            12              15                15
12            13              16                26
13            14              18                19
14            15              19                24
15            16              20                21
16            17              21                 5
17            18              22                16
18            19              23                 2
19            20              24                 2
20            21              26                11
21            22              27                 9
22            23              28                 7
23            24              30                15
24            25              31                 6
25            26              32                 5
26            27              33                16
27            28              35                 8
28            29              36                 7
29            30              38                 2
...          ...             ...               ...
1440        1441            2025                 4
1441        1442            2026                 1
1442        1443            2027                 1
1443        1444            2031                 2
1444        1445            2032                 7
1445        1446            2034                28
1446        1447            2035                28
1447        1448            2036                15
1448        1449            2037                 3
1449        1450            2038                 2
1450        1451            2040                26
1451        1452            2041                10
1452        1453            2044                 1
1453        1454            2045                11
1454        1455            2046                20
1455        1456            2048                 2
1456        1457            2049                18
1457        1458            2051                 2
1458        1459            2052                 1
1459        1460            2053                13
1460        1461            2054                28
1461        1462            2055                28
1462        1463            2056                24
1463        1464            2057                 5
1464        1465            2060                 5
1465        1466            2061                23
1466        1467            2062                 6
1467        1468            2064                 4
1468        1469            2065                 2
1469        1470            2068                 8

[1470 rows x 3 columns]

In [5]:
pandas.read_csv("hr_employees_performance_data.csv")

,Unnamed: 0,BusinessTravel,DailyRate,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,...,PerformanceRating,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1,Travel_Rarely,945,103,2,80,3,2,Human Resources,2,...,4,80,1,16,2,3,4,2,0,2
1,2,Travel_Rarely,807,133,3,63,3,1,Human Resources,1,...,4,80,0,7,3,3,3,2,0,2
2,3,Non-Travel,1420,140,3,32,2,5,Manager,4,...,4,80,1,30,3,3,3,2,2,2
3,4,Non-Travel,142,148,4,30,4,4,Manager,4,...,3,80,0,23,3,3,5,3,4,4
4,5,Travel_Rarely,1355,177,3,61,3,1,Human Resources,3,...,4,80,1,8,3,3,8,7,5,7
5,6,Travel_Rarely,1240,184,3,48,3,2,Human Resources,4,...,3,80,0,12,2,1,11,9,4,7
6,7,Travel_Rarely,818,321,2,52,3,1,Human Resources,3,...,3,80,0,7,2,2,2,2,2,2
7,8,Travel_Rarely,106,424,1,62,2,2,Human Resources,1,...,3,80,0,9,1,3,2,2,1,0
8,9,Travel_Rarely,544,470,3,52,3,1,Human Resources,3,...,3,80,1,4,5,3,3,2,1,0
9,10,Travel_Rarely,489,566,1,52,2,1,Human Resources,4,...,3,80,0,1,3,4,1,0,0,0
10,11,Travel_Frequently,988,590,2,43,3,3,Human Resources,1,...,3,80,3,11,2,3,3,2,0,2
11,12,Travel_Frequently,426,608,2,58,3,1,Human Resources,3,...,3,80,1,8,2,2,7,7,1,0
12,13,Travel_Frequently,1246,644,1,99,3,5,Manager,2,...,3,80,1,32,2,3,32,5,10,7
13,14,Travel_Rarely,1112,665,1,50,2,2,Human Resources,3,...,3,80,0,10,1,4,2,2,0,2
14,15,Travel_Rarely,397,698,3,88,3,3,Human Resources,2,...,3,80,1,16,1,4,9,7,7,1
15,16,Travel_Rarely,427,731,2,73,2,5,Manager,4,...,3,80,3,23,2,2,21,6,12,6
16,17,Travel_Rarely,314,734,4,59,2,5,Manager,3,...,3,80,1,22,3,3,22,7,2,10
17,18,Travel_Rarely,141,760,3,44,4,2,Human Resources,2,...,3,80,1,12,3,1,8,3,3,6
18,19,Travel_Rarely,1041,829,3,36,3,1,Human Resources,2,...,3,80,1,8,2,3,5,2,0,4
19,20,Travel_Rarely,829,847,3,88,3,1,Human Resources,4,...,3,80,1,4,1,1,3,2,0,2
20,21,Travel_Rarely,1169,869,2,63,2,1,Human Resources,4,...,3,80,1,6,6,3,5,1,0,4
21,22,Travel_Rarely,1278,878,1,77,2,1,Human Resources,1,...,4,80,0,6,3,3,5,4,0,3
22,23,Travel_Rarely,1383,909,4,42,2,2,Human Resources,4,...,3,80,2,13,2,3,5,4,0,4
23,24,Travel_Rarely,1075,910,4,57,3,1,Human Resources,2,...,3,80,1,7,4,4,4,3,0,3
24,25,Travel_Rarely,788,1049,2,36,3,1,Human Resources,2,...,3,80,0,6,3,3,6,3,0,4
25,26,Travel_Rarely,1376,1098,2,91,2,3,Human Resources,1,...,3,80,1,24,1,3,20,6,3,6
26,27,Travel_Rarely,433,1152,3,37,4,1,Human Resources,3,...,3,80,1,7,2,4,7,6,5,0
27,28,Travel_Rarely,528,1164,3,100,3,1,Human Resources,3,...,3,80,0,6,2,1,5,4,1,4
28,29,Travel_Rarely,147,1207,2,99,3,1,Human Resources,3,...,3,80,1,5,2,3,5,4,1,4
29,30,Non-Travel,179,1231,4,79,4,2,Human Resources,1,...,3,80,1,10,3,4,4,3,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33,34,Travel_Rarely,770,1352,3,84,3,4,Manager,2,...,3,80,1,33,2,3,33,9,0,10
34,35,Travel_Rarely,1147,1408,3,31,3,4,Manager,1,...,3,80,1,21,5,3,20,7,0,9
35,36,Travel_Rarely,332,1419,2,51,2,3,Human Resources,1,...,3,80,0,10,3,2,10,9,0,9
36,37,Travel_Rarely,1398,1461,4,96,4,1,Human Resources,2,...,3,80,0,8,3,3,3,2,0,2
37,38,Travel_Rarely,1107,1467,1,52,3,1,Human Resources,3,...,3,80,0,2,0,3,2,2,2,2
38,39,Travel_Rarely,330,1499,3,46,3,1,Human Resources,3,...,4,80,1,6,3,4,5,3,1,3
39,40,Travel_Rarely,898,1550,3,38,3,4,Manager,4,...,4,80,0,21,2,3,21,7,7,7
40,41,Travel_Frequently,888,1563,3,71,3,2,Human Resources,3,...,3,80,0,10,2,3,6,3,1,2
41,42,Travel_Rarely,1176,1625,4,98,3,5,Manager,3,...,3,80,1,27,2,3,5,2,1,0
42,43,Travel_Frequently,602,1642,1,37,3,2,Human Resources,4,...,3,80,0,14,3,3,10,7,0,2
43,44,Travel_Rarely,528,1683,3,44,3,1,Human Resources,4,...,3,80,3,8,2,3,2,2,2,2
44,45,Travel_Rarely,240,1714,4,58,1,1,Human Resources,3,...,3,80,1,1,2,3,1,0,0,0
45,46,Non-Travel,552,1722,3,60,1,2,Human Resources,2,...,3,80,1,10,4,3,3,2,1,2
46,47,Travel_Rarely,176,1744,3,56,1,3,Human Resources,3,...,4,80,2,9,2,4,5,0,0,3
47,48,Travel_Frequently,897,1746,1,59,3,1,Human Resources,4,...,3,80,1,3,2,3,2,2,2,1
48,49,Travel_Frequently,600,1747,3,66,2,1,Human Resources,4,...,3,80,1,6,0,2,4,2,1,2
49,50,Travel_Rarely,244,1778,2,97,3,1,Human Resources,4,...,3,80,0,10,5,3,9,7,1,8
50,51,Travel_Rarely,1239,1794,3,89,3,2,Human Resources,2,...,3,80,0,19,4,2,10,0,4,7
51,52,Non-Travel,1336,1805,1,100,3,1,Human Resources,2,...,3,80,3,13,3,3,11,10,3,8
52,53,Travel_Rarely,920,1818,4,69,3,1,Human Resources,2,...,3,80,0,6,3,3,5,1,1,4
53,54,Travel_Rarely,359,1842,4,89,4,1,Human Resources,1,...,3,80,0,2,4,3,1,0,0,0
54,55,Travel_Rarely,350,1844,1,56,2,1,Human Resources,1,...,3,80,3,4,3,3,2,2,2,0
55,56,Non-Travel,280,1858,3,43,3,1,Human Resources,4,...,3,80,1,3,2,3,3,2,2,2
56,57,Travel_Rarely,352,1865,4,87,2,1,Human Resources,2,...,3,80,0,1,3,3,1,0,0,0
57,58,Travel_Frequently,1213,1890,2,94,2,2,Human Resources,4,...,4,80,0,10,2,2,10,1,0,8
58,59,Travel_Frequently,1337,1944,1,58,2,1,Human Resources,2,...,3,80,0,1,2,3,1,0,0,0
59,60,Travel_Frequently,1444,1972,4,88,3,1,Human Resources,2,...,3,80,1,7,2,3,6,2,1,2
60,61,Travel_Rarely,189,1973,3,71,4,5,Manager,2,...,3,80,1,35,0,3,10,9,1,4
61,62,Travel_Rarely,309,1987,3,82,3,1,Human Resources,2,...,3,80,0,6,3,3,2,0,1,2
62,63,Travel_Rarely,1146,2040,3,31,3,3,Human Resources,4,...,3,80,0,9,2,3,9,0,1,7

In [6]:
pandas.read_csv("personal_data.csv")

       EmployeeNumber   Variable   Value
0                   1     Gender  Female
1                   2     Gender    Male
2                   4     Gender    Male
3                   5     Gender  Female
4                   7     Gender    Male
5                   8     Gender    Male
6                  10     Gender  Female
7                  11     Gender    Male
8                  12     Gender    Male
9                  13     Gender    Male
10                 14     Gender    Male
11                 15     Gender  Female
12                 16     Gender    Male
13                 18     Gender    Male
14                 19     Gender    Male
15                 20     Gender  Female
16                 21     Gender    Male
17                 22     Gender    Male
18                 23     Gender  Female
19                 24     Gender    Male
20                 26     Gender  Female
21                 27     Gender    Male
22                 28     Gender  Female
23                 30     Gender    Male
24                 31     Gender    Male
25                 32     Gender  Female
26                 33     Gender  Female
27                 35     Gender    Male
28                 36     Gender  Female
29                 38     Gender  Female
...               ...        ...     ...
11730            2025  Attrition      No
11731            2026  Attrition      No
11732            2027  Attrition     Yes
11733            2031  Attrition      No
11734            2032  Attrition     Yes
11735            2034  Attrition      No
11736            2035  Attrition      No
11737            2036  Attrition      No
11738            2037  Attrition      No
11739            2038  Attrition      No
11740            2040  Attrition      No
11741            2041  Attrition      No
11742            2044  Attrition     Yes
11743            2045  Attrition      No
11744            2046  Attrition      No
11745            2048  Attrition      No
11746            2049  Attrition      No
11747            2051  Attrition      No
11748            2052  Attrition      No
11749            2053  Attrition      No
11750            2054  Attrition      No
11751            2055  Attrition     Yes
11752            2056  Attrition      No
11753            2057  Attrition      No
11754            2060  Attrition      No
11755            2061  Attrition      No
11756            2062  Attrition      No
11757            2064  Attrition      No
11758            2065  Attrition      No
11759            2068  Attrition      No

[11760 rows x 3 columns]

In [7]:
pandas.read_csv("research_and_development_employees_performance_data.csv")

,Unnamed: 0,BusinessTravel,DailyRate,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,...,PerformanceRating,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1,Travel_Frequently,279,2,3,61,2,2,Research Scientist,2,...,4,80,1,10,3,3,10,7,1,7
1,2,Travel_Rarely,1373,4,4,92,2,1,Laboratory Technician,3,...,3,80,0,7,3,3,0,0,0,0
2,3,Travel_Frequently,1392,5,4,56,3,1,Research Scientist,3,...,3,80,0,8,3,3,8,7,3,0
3,4,Travel_Rarely,591,7,1,40,3,1,Laboratory Technician,2,...,3,80,1,6,3,3,2,2,2,2
4,5,Travel_Frequently,1005,8,4,79,3,1,Laboratory Technician,4,...,3,80,0,8,2,2,7,7,3,6
5,6,Travel_Rarely,1324,10,3,81,4,1,Laboratory Technician,1,...,4,80,3,12,3,2,1,0,0,0
6,7,Travel_Rarely,1358,11,4,67,3,1,Laboratory Technician,3,...,4,80,1,1,2,3,1,0,0,0
7,8,Travel_Frequently,216,12,4,44,2,3,Manufacturing Director,3,...,4,80,0,10,2,3,9,7,1,8
8,9,Travel_Rarely,1299,13,3,94,3,2,Healthcare Representative,3,...,3,80,2,17,3,2,7,7,7,7
9,10,Travel_Rarely,809,14,1,84,4,1,Laboratory Technician,2,...,3,80,1,6,5,3,5,4,0,3
10,11,Travel_Rarely,153,15,4,49,2,2,Laboratory Technician,3,...,3,80,0,10,3,3,9,5,0,8
11,12,Travel_Rarely,670,16,1,31,3,1,Research Scientist,3,...,3,80,1,5,1,2,5,2,4,3
12,13,Travel_Rarely,1346,18,2,93,3,1,Laboratory Technician,4,...,3,80,1,3,2,3,2,2,1,2
13,14,Travel_Rarely,103,19,3,50,2,1,Laboratory Technician,3,...,3,80,0,6,4,3,4,2,0,3
14,15,Travel_Rarely,1389,20,2,51,4,3,Manufacturing Director,1,...,3,80,1,10,1,3,10,9,8,8
15,16,Travel_Rarely,334,21,1,80,4,1,Research Scientist,2,...,3,80,2,7,5,2,6,2,0,5
16,17,Non-Travel,1123,22,4,96,4,1,Laboratory Technician,4,...,3,80,2,1,2,2,1,0,0,0
17,18,Travel_Rarely,371,24,4,45,3,1,Research Scientist,4,...,3,80,0,6,3,3,3,2,1,2
18,19,Non-Travel,673,26,1,96,4,2,Manufacturing Director,3,...,3,80,1,5,5,2,4,2,1,3
19,20,Travel_Rarely,419,28,1,53,3,3,Research Director,2,...,3,80,0,13,4,3,12,6,2,11
20,21,Travel_Rarely,391,30,3,96,3,1,Research Scientist,4,...,3,80,0,0,6,3,0,0,0,0
21,22,Travel_Rarely,699,31,2,83,3,1,Research Scientist,1,...,3,80,0,8,2,3,4,2,1,3
22,23,Travel_Rarely,1282,32,3,58,3,5,Manager,3,...,3,80,1,26,3,2,14,13,4,8
23,24,Travel_Frequently,1125,33,2,72,1,1,Research Scientist,1,...,4,80,0,10,5,3,10,2,6,7
24,25,Travel_Rarely,477,36,1,42,2,3,Healthcare Representative,4,...,3,80,1,24,4,3,22,6,5,17
25,26,Travel_Rarely,924,39,3,78,3,1,Laboratory Technician,4,...,3,80,0,7,3,3,1,1,0,0
26,27,Travel_Rarely,1459,40,4,41,3,2,Healthcare Representative,4,...,3,80,0,9,5,4,4,2,1,3
27,28,Travel_Rarely,125,41,4,83,2,1,Laboratory Technician,3,...,3,80,0,10,5,3,10,0,1,8
28,29,Travel_Rarely,813,45,2,61,3,1,Research Scientist,4,...,3,80,1,6,2,2,2,0,2,0
29,30,Travel_Rarely,1273,46,4,72,4,1,Research Scientist,3,...,3,80,2,6,3,2,5,3,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
931,932,Non-Travel,1162,2000,3,98,3,3,Research Director,2,...,3,80,2,14,3,1,13,8,5,12
932,933,Travel_Rarely,1490,2003,4,43,3,1,Laboratory Technician,3,...,3,80,1,5,3,3,2,2,2,2
933,934,Travel_Rarely,581,2007,4,63,3,1,Research Scientist,3,...,3,80,0,4,2,4,3,2,1,2
934,935,Travel_Rarely,1395,2008,2,48,3,2,Research Scientist,3,...,3,80,0,10,5,3,10,7,0,8
935,936,Travel_Rarely,501,2009,2,95,3,2,Healthcare Representative,4,...,3,80,1,10,6,3,9,7,8,1
936,937,Travel_Rarely,267,2010,3,49,2,1,Laboratory Technician,2,...,3,80,0,6,3,3,6,2,4,1
937,938,Travel_Rarely,543,2012,1,83,3,1,Laboratory Technician,4,...,3,80,2,8,3,2,1,0,0,0
938,939,Travel_Rarely,116,2014,1,52,3,2,Research Scientist,4,...,3,80,0,18,2,3,7,7,1,7
939,940,Travel_Rarely,201,2015,2,99,1,3,Research Director,3,...,3,80,1,20,3,3,18,16,1,11
940,941,Travel_Rarely,161,2017,3,42,4,3,Research Director,4,...,4,80,1,16,2,3,16,11,6,8
941,942,Travel_Rarely,1037,2020,2,42,3,1,Research Scientist,4,...,3,80,0,6,2,3,4,3,1,2
942,943,Non-Travel,105,2022,4,87,3,5,Manager,4,...,3,80,0,21,3,2,6,0,1,3
943,944,Travel_Frequently,688,2025,4,97,3,2,Manufacturing Director,2,...,3,80,3,18,3,3,4,2,0,2
944,945,Non-Travel,667,2026,3,57,3,2,Healthcare Representative,3,...,4,80,1,13,2,2,13,12,1,9
945,946,Travel_Rarely,1092,2027,1,36,3,1,Research Scientist,4,...,3,80,3,4,3,4,2,2,2,2
946,947,Travel_Rarely,300,2031,1,56,3,5,Manager,3,...,3,80,0,24,2,2,22,6,4,14
947,948,Travel_Rarely,310,2032,4,72,3,1,Laboratory Technician,3,...,3,80,1,14,4,1,10,9,9,8
948,949,Travel_Rarely,582,2034,1,60,2,4,Manufacturing Director,2,...,4,80,1,21,3,3,20,7,0,10
949,950,Travel_Rarely,529,2038,4,78,3,1,Research Scientist,1,...,3,80,0,4,4,3,4,2,1,2
950,951,Travel_Rarely,1322,2048,3,52,2,1,Research Scientist,3,...,3,80,0,8,2,3,2,2,2,2
951,952,Travel_Frequently,1199,2049,3,80,3,2,Healthcare Representative,3,...,3,80,2,10,2,4,10,2,0,2
952,953,Travel_Rarely,1194,2051,3,98,3,1,Research Scientist,3,...,3,80,3,20,2,3,5,3,0,2
953,954,Travel_Rarely,287,2052,3,62,1,1,Research Scientist,4,...,3,80,1,4,5,3,4,3,1,1
954,955,Travel_Rarely,1378,2053,4,46,2,2,Laboratory Technician,2,...,3,80,1,10,2,3,4,3,0,3
955,956,Travel_Rarely,468,2054,4,73,2,1,Research Scientist,1,...,3,80,0,5,3,1,5,4,0,4
956,957,Non-Travel,325,2057,2,74,3,2,Manufacturing Director,1,...,3,80,0,10,2,3,9,4,1,7
957,958,Travel_Frequently,884,2061,3,41,4,2,Laboratory Technician,4,...,3,80,1,17,3,3,5,2,0,3
958,959,Travel_Rarely,613,2062,4,42,2,3,Healthcare Representative,1,...,3,80,1,9,5,3,7,7,1,7
959,960,Travel_Rarely,155,2064,2,87,4,2,Manufacturing Director,2,...,4,80,1,6,0,3,6,2,0,3
960,961,Travel_Rarely,628,2068,2,82,4,2,Laboratory Technician,3,...,3,80,0,6,3,4,4,3,1,2

In [8]:
pandas.read_csv("sales_employees_performance_data.csv")

,Unnamed: 0,BusinessTravel,DailyRate,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,...,PerformanceRating,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1,Travel_Rarely,1102,1,2,94,3,2,Sales Executive,4,...,3,80,0,8,0,1,6,4,0,5
1,2,Travel_Rarely,1219,23,1,78,2,4,Manager,4,...,3,80,0,31,3,3,25,8,3,7
2,3,Travel_Rarely,1218,27,3,82,2,1,Sales Representative,1,...,4,80,0,10,4,3,5,3,0,3
3,4,Travel_Rarely,691,35,3,48,3,2,Sales Executive,2,...,3,80,1,10,2,3,9,7,4,2
4,5,Travel_Rarely,705,38,2,83,3,5,Manager,1,...,3,80,0,22,2,2,2,2,2,1
5,6,Travel_Rarely,895,42,4,56,3,2,Sales Representative,4,...,3,80,1,19,6,4,1,0,0,0
6,7,Travel_Rarely,869,47,1,86,2,1,Sales Representative,3,...,3,80,0,3,2,3,3,2,0,2
7,8,Travel_Rarely,890,49,4,97,3,1,Sales Representative,4,...,3,80,0,2,3,3,2,2,2,2
8,9,Travel_Frequently,1141,52,3,42,4,2,Sales Executive,1,...,3,80,2,10,3,3,5,3,1,3
9,10,Travel_Frequently,994,56,4,37,3,3,Sales Executive,3,...,3,80,0,9,0,3,9,8,1,7
10,11,Non-Travel,1065,60,2,72,3,2,Sales Executive,3,...,4,80,0,10,2,3,9,5,8,7
11,12,Travel_Frequently,1211,62,1,98,3,2,Sales Executive,4,...,4,80,0,14,4,3,9,6,0,8
12,13,Travel_Rarely,1488,68,2,75,3,2,Sales Executive,1,...,4,80,1,9,2,2,4,3,1,3
13,14,Travel_Rarely,1443,72,3,47,2,2,Sales Executive,4,...,3,80,1,5,2,2,2,2,0,0
14,15,Travel_Frequently,853,74,2,71,3,3,Sales Executive,1,...,4,80,1,9,3,2,9,8,1,8
15,16,Travel_Rarely,1435,81,1,99,3,3,Sales Executive,1,...,3,80,0,28,3,2,21,16,7,9
16,17,Travel_Frequently,1225,91,1,57,2,2,Sales Executive,3,...,3,80,0,20,2,2,4,3,1,3
17,18,Travel_Rarely,776,100,3,32,2,2,Sales Executive,1,...,3,80,0,16,2,3,15,13,2,8
18,19,Travel_Rarely,111,106,1,70,3,3,Sales Executive,4,...,3,80,1,24,4,3,1,0,1,0
19,20,Travel_Rarely,541,113,3,62,3,1,Sales Representative,1,...,3,80,1,3,3,3,0,0,0,0
20,21,Travel_Rarely,669,118,3,64,2,3,Sales Executive,4,...,3,80,0,9,3,3,9,8,4,7
21,22,Travel_Rarely,632,120,3,71,3,2,Sales Executive,4,...,4,80,0,11,2,1,10,7,1,0
22,23,Travel_Rarely,1334,121,3,63,2,2,Sales Executive,2,...,3,80,3,11,4,2,11,8,2,7
23,24,Travel_Rarely,1093,125,2,87,3,2,Sales Executive,3,...,3,80,0,12,0,3,11,8,5,7
24,25,Travel_Rarely,1353,128,1,33,3,2,Sales Executive,3,...,4,80,1,4,2,2,3,2,0,2
25,26,Non-Travel,120,129,2,43,3,2,Sales Executive,3,...,3,80,0,5,3,4,5,4,0,4
26,27,Travel_Rarely,682,131,4,37,3,4,Sales Executive,3,...,3,80,0,38,1,2,37,10,1,8
27,28,Travel_Rarely,240,142,3,46,2,2,Sales Executive,3,...,3,80,0,6,1,3,6,4,0,3
28,29,Travel_Rarely,1189,152,3,87,3,3,Sales Executive,4,...,3,80,0,12,3,3,5,3,1,3
29,30,Travel_Frequently,1467,154,2,92,3,3,Sales Executive,4,...,3,80,1,10,6,3,9,7,2,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
416,417,Travel_Rarely,682,1945,2,71,3,2,Sales Executive,1,...,3,80,1,6,2,1,5,3,0,4
417,418,Travel_Rarely,937,1950,1,32,3,3,Sales Executive,4,...,4,80,0,14,3,2,14,8,2,1
418,419,Travel_Rarely,1239,1951,4,39,3,3,Sales Executive,3,...,3,80,1,9,2,2,8,7,1,1
419,420,Travel_Rarely,1404,1961,1,59,2,1,Sales Representative,1,...,3,80,0,20,3,2,1,0,0,0
420,421,Travel_Rarely,1224,1962,3,55,3,2,Sales Executive,4,...,3,80,0,10,2,3,10,8,0,9
421,422,Travel_Rarely,954,1965,4,44,3,2,Sales Executive,4,...,3,80,0,7,5,3,7,7,0,7
422,423,Travel_Frequently,754,1967,1,63,3,2,Sales Executive,4,...,3,80,0,10,4,3,10,7,0,8
423,424,Travel_Rarely,1168,1968,1,66,3,3,Sales Executive,1,...,3,80,0,15,2,2,2,2,2,2
424,425,Travel_Rarely,119,1975,2,77,3,4,Sales Executive,1,...,3,80,0,21,3,3,20,8,11,10
425,426,Travel_Rarely,444,1986,2,92,3,2,Sales Executive,2,...,3,80,1,15,4,3,11,8,5,10
426,427,Travel_Rarely,1321,1995,4,86,3,2,Sales Executive,2,...,3,80,2,16,3,3,15,13,5,8
427,428,Travel_Rarely,1154,1996,1,54,3,1,Sales Representative,3,...,3,80,1,3,1,3,2,2,1,2
428,429,Travel_Rarely,234,2013,2,68,2,1,Sales Representative,2,...,3,80,1,3,2,3,2,2,2,2
429,430,Travel_Rarely,801,2016,3,48,3,3,Sales Executive,4,...,3,80,2,14,3,3,14,10,5,7
430,431,Travel_Rarely,1382,2018,1,85,3,2,Sales Executive,3,...,4,80,1,6,3,2,5,3,0,4
431,432,Non-Travel,585,2019,1,40,3,1,Sales Representative,4,...,3,80,2,16,3,2,9,8,0,0
432,433,Travel_Rarely,501,2021,3,58,3,1,Sales Representative,1,...,3,80,0,2,6,3,2,2,1,2
433,434,Travel_Frequently,638,2023,4,33,3,1,Sales Representative,1,...,3,80,1,1,3,2,1,0,1,0
434,435,Travel_Rarely,557,2024,1,94,2,3,Sales Executive,4,...,3,80,2,10,2,3,9,7,3,4
435,436,Travel_Rarely,704,2035,4,95,2,2,Sales Executive,3,...,4,80,2,8,2,3,8,7,1,7
436,437,Non-Travel,301,2036,4,88,1,2,Sales Executive,4,...,4,80,1,15,4,2,15,12,11,11
437,438,Travel_Rarely,930,2037,3,57,2,2,Sales Executive,2,...,3,80,1,14,5,3,5,4,0,4
438,439,Travel_Rarely,345,2041,1,100,3,2,Sales Executive,4,...,3,80,1,10,1,3,10,7,1,9
439,440,Travel_Frequently,878,2044,2,94,3,2,Sales Executive,3,...,3,80,2,12,3,3,6,3,0,1
440,441,Travel_Rarely,1120,2045,2,100,2,2,Sales Executive,4,...,3,80,1,8,2,2,6,3,0,0
441,442,Travel_Rarely,374,2046,4,50,3,2,Sales Executive,3,...,3,80,0,8,3,3,5,3,0,1
442,443,Travel_Rarely,410,2055,4,39,2,3,Sales Executive,1,...,3,80,1,20,3,3,3,2,2,0
443,444,Travel_Rarely,722,2056,2,60,2,4,Sales Executive,4,...,3,80,1,21,2,2,20,9,9,6
444,445,Travel_Rarely,1167,2060,4,30,2,1,Sales Representative,3,...,3,80,0,5,2,3,4,2,0,0
445,446,Travel_Frequently,1023,2065,4,63,2,2,Sales Executive,2,...,3,80,0,17,3,2,9,6,0,8