In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_csv('moviereviews.tsv', sep='\t')

In [4]:
df.head(10)

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...
5   neg  to put it bluntly , ed wood would have been pr...
6   neg  synopsis : melissa , a mentally-disturbed woma...
7   neg  tim robbins and martin lawernce team up in thi...
8   neg  in " gia " , angelina jolie plays the titular ...
9   neg  in 1990 , the surprise success an unheralded l...

In [5]:
df.describe()

       label review
count   2000   1965
unique     2   1939
top      neg
freq    1000     27

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 2 columns):
label     2000 non-null object
review    1965 non-null object
dtypes: object(2)
memory usage: 15.7+ KB

In [8]:
df['label'].value_counts()

neg    1000
pos    1000
Name: label, dtype: int64

In [10]:
df.isnull().sum()

label      0
review    35
dtype: int64

In [11]:
df.dropna(inplace=True)

In [12]:
df.isnull().sum()

label     0
review    0
dtype: int64

In [14]:
df.shape

(1965, 2)

In [15]:
blanks = []

for i,la,rv in df.itertuples():
    if rv.isspace():
        blanks.append(i)

In [17]:
df.drop(blanks, inplace=True)

In [18]:
len(df)

1938

In [23]:
df.shape

(1938, 2)

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
X = df['review']
y = df['label']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [26]:
from sklearn.pipeline import Pipeline
from sklearn.svm import LinearSVC
from sklearn.feature_extraction.text import TfidfVectorizer

In [27]:
text_clf = Pipeline([('tfidf', TfidfVectorizer()),
                     ('clf', LinearSVC())])

In [28]:
text_clf.fit(X_train, y_train)

Pipeline(memory=None,
     steps=[('tfidf', TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.float64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,...ax_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0))])

In [29]:
predictions = text_clf.predict(X_test)

In [30]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [32]:
print(confusion_matrix(y_test, predictions))
print('\n\n')
print(classification_report(y_test, predictions))
print('\n\n')
print(accuracy_score(y_test, predictions))

[[235  47]
 [ 41 259]]



              precision    recall  f1-score   support

         neg       0.85      0.83      0.84       282
         pos       0.85      0.86      0.85       300

   micro avg       0.85      0.85      0.85       582
   macro avg       0.85      0.85      0.85       582
weighted avg       0.85      0.85      0.85       582




0.8487972508591065